/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    background-image: url("../img/backgroundImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size: 12px;
    height: 100vh;
    margin: 0;
    padding: 0;

    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-right, 0);
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Roboto', sans-serif;
}




/* Portrait layout (default) */
.app {
    position: absolute;             /* position in the center of the screen */
    left: 50%;
    top: 50%;
    /* height: 50px;                   /* text area height */
    /* width: 225px;                   /* text area width */
    text-align: center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
        padding: 75px 0 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0 0 -198px;  /* offset vertical: half of image height */
    }
}


/*  My code */
.container {
    height: 100%;
}

/*
*
*    START PAGE / LANDING PAGE
*
*/


/* Div container that keeps the quote and button that
    takes you to the app
*/
.start-page-container {
    background-color: lightgrey;
    margin: auto;
    width: 80%;
    height: 90%;
    margin-top: 5em;
}

.start-page-headerlogo-div {
    margin: auto;
    width: 50%;
    height: 20%;
}


.start-page-headerlogo-img {
    height: 150px;
    width: 150px;
}



/*
* Div with the header text in the start page
*/

.start-page-headertext-text {
    font-size: 4em;
    text-align: center;
}



/* Div with the quote in the start page */
.start-page-quote-div {
    height: 20%;
    /* height: 60%; /* To separate quote and button, button below */ */
}

/* Div where the button is placed in */
.start-page-nextpage-buttondiv {
    margin: auto;
    width: 70%;
    height: 20%;
}

.start-page-quote-paragraf {
    font-size: 2em;
    /* margin-right: 10%;
    margin-left: 10%; */
    text-align: center;
    margin-top: 20%;
}


.start-page-nextpage-button {
    border-radius: 20px;
    padding: 1em 3em 1em 3em;
    background: rgba(255, 255, 255, 0.7);
    border: 0px;
    width: 100%;

}
.start-page-nextpage-buttondiv {
    height: 20%;
}

.start-page-nextpage-button-text {
    text-decoration: none;
    color: #000;
}










/*
*
*    HOME, home page for app
*
*/
.home-page-container {
    background-color: lightgrey;
    margin: 0;
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
}


.home-page-headertext-text {
    text-align: center;
    font-size: 4em;
    padding-top: 2em;
}




/* Div with the quote in the home page */
.home-page-quote-div {
    height: 90%; /* Make to center everything else to look good on all phones*/

}

/* paragraf <p> for the home page quote */
.home-page-quote-paragraf {
    font-size: 2em;
    text-align: center;
}




/*
*
*    Layout, bottom navigation menu
*
*/
.layout-bottom-menu {
    background-color: #2BA0CC;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
    overflow: hidden;
}
.layout-bottom-menu-inner {
    width: 100%;
    margin: auto;
}

.layout-bottom-menu-link-container {
    width: 25%;
    height: 100%;
    overflow: auto;
    display: inline-block;
    text-align: center;
    line-height: 5em;
}





/* Bottom menu link text */
.layout-bottom-menu-link {
    margin: 0.5em;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    text-align: center;

}

/* Bottom Menu responsive for smaller screens */
@media only screen and (max-width: 380px) {
    .layout-bottom-menu-link { /* Link text in bottom menu*/
        margin: 0.5em;
        font-size: 1.3em;
    }
}

/* Bottom Menu responsive for smaller screens */
@media only screen and (max-width: 380px) {
    .layout-bottom-menu-link { /* Link text in bottom menu*/
        margin: 0.5em;
        font-size: 1.1em;
    }
}




/*
*
*    CATEGORY, css for category page
*
*/

.category-page-header-div {
    background-color: #2BA0CC;
}

.category-page-header-text {
    font-size: 2em;
    text-align: center;
    color: #fff;
    padding: 0.5em;
}

/*  a link text on category page boxes */
.category-page-box-link-text {
    font-size: 2.5em;
    bottom: 0.6em;
    left: 0.6em;
    position: absolute;
    text-decoration: none;

}
/*  the boxes in category page */
.category-page-box {

    margin: auto;
    margin-top: 1.2em;
    padding-bottom: 1.2em;
    width: 96%;
    height: 11em;
    background-color: lightsteelblue;
    border-radius: 1%;
    box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.6);
    position: relative;
}



/*  Link text to the category sub pages */
.category-page-box-link-text {
    color: black;
}

.category-page-box-img {
    float: right;
    padding-right: 2em;
}







/*
*
*    ADVICE, css for category page
*
*/

.subcategory-page-header-div {
    background-color: #2BA0CC;
}

.subcategory-page-header-text {
    font-size: 2em;
    text-align: center;
    color: #fff;
    padding: 0.5em;
}

/* back arrow img on subcategory page */
.subcategory-page-img-back-arrow {
    margin: 1em;
}

/* back arrow img on subcategory page */
.subcategory-page-img-front-arrow {
    margin: 1em;
    float: right;
}

.subcategory-page-quote-paragraf {
    text-align: center;
    vertical-align: middle;
    /* margin-top: 40%; /* To keep it centered on all devices */
    font-size: 2.5em;
    padding: 2em 1em 2em 1em;
}

.subcategory-page-bottom-features {
    position: absolute; /* Makes the arrows stay just above the bottom menu */
    bottom: 5em;
    width: 100%; /* To fill the whole width of screen */
}




/*
*
*    Themes, css for theme page
*
*/

.theme-page-header-text {
    font-size: 2em;
    text-align: center;
    padding-left: 1em;
}
.theme-page-box {
    margin: auto;
    margin-top: 0.2em;
    padding-bottom: 1.2em;
    width: 96%;
    height: 11em;
    background-color: #fff;
    border-radius: 1%;
    box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.6);
}
